---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Les Gambettes</a>
    </div>
    <div class="navbar__menu">
        <!-- <a href="/works/">Participer</a> -->
        <a href="/posts/">Blog</a>
        <ThemeIcon />
    </div>
</div>

